annotated-types==0.7.0
click==8.3.0
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1756544647577/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dnspython==2.8.0
email_validator==2.2.0
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1759187145859/work
idna==3.11
Jinja2==3.1.6
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1756467597/work
Markdown==3.7
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1757504947/work/dist/numpy-2.3.3-cp312-cp312-macosx_11_0_arm64.whl#sha256=8e7c8567275473731bdc11d5b40e87bdc1995ff45ea5e5693855593a9c43c7fe
numpy-typing-compat @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy-typing-compat_1755874992/work
optype @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_optype_1755926772/work
packaging==24.2
phonenumbers==8.13.53
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1758208741/work
pycountry==24.6.1
pydantic==2.10.5
pydantic-extra-types==2.10.2
pydantic_core==2.27.2
pygame @ file:///Users/runner/miniforge3/conda-bld/pygame_1727636445513/work
Pygments==2.19.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
rendercv==2.2
rendercv-fonts==0.4.0
rich==14.2.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.14
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1757681096992/work/dist/scipy-1.16.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=152337200d215a40e5da0bd171f735be0292da7037e77b6d968e47255ec03aff
scipy-stubs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scipy-stubs_1757717336/work
setuptools==80.9.0
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1756854881656/work
typer==0.15.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typst==0.12.3
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1756494520617/work
watchdog==6.0.0
wheel==0.45.1
